
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.date {
    font-size: 12px;
    color: #b5b0b0;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}
input[type="text"],
textarea {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
}

button[type="submit"] {
    padding: 10px;
    background-color: #07db46;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #07a335;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}
li a {
    margin-left: 10px;
}
